* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: $mainColor;
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  width: 100%;
  background-color: $secColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  img {
    width: 30px;
  }
}

.main_wrapper {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
}

.album {
  width: calc((100% / 3) - 12px);
  margin: 6px;
  padding: 30px;
  background-color: $secColor;
  border-radius: 10px;
  color: white;
  transition: all 0.4s;
  &:hover {
    z-index: 10;
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px rgba(228, 226, 40, 0.04));
  }
};
  .cover {
    text-align: center;
    img {
      width: 100%;
    }
  }

  h2.title {
    margin: 20px 0 10px;
  }
  .author {
    margin-bottom: 8px;
    font-size: 16px;
    color: $textColor;

  }
  .year {
    font-size: 10px;
    color: $yearColor;
  }
